@include b(btn) {
    align-items: center;
    background-color: $color-element-background;
    border: none;
    border-radius: 4px;
    color: $color-element-text;
    cursor: pointer;
    display: inline-flex;
    font-size: $font-size-base;
    justify-content: center;
    outline: none !important;
    padding: 0.75rem 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    line-height: 1;

    &:hover {
        background-color: scale-color(
            $color-element-background,
            $lightness: -5%
        );
    }

    @include when(disabled) {
        background-color: scale-color(
            $color-element-background,
            $lightness: 70%
        );
        color: scale-color($color-element-text, $lightness: 70%);
        cursor: not-allowed !important;
    }

    @include when(link) {
        color: $color-element-text;
    }

    @include when(loading) {
        background-color: scale-color(
            $color-element-background,
            $lightness: 50%
        );
        color: scale-color($color-element-text, $lightness: 50%);
        pointer-events: none;
    }

    @include when(light) {
        background-color: scale-color(
            $color-element-background,
            $lightness: 75%
        );

        &:hover {
            background-color: scale-color(
                $color-element-background,
                $lightness: 25%
            );
        }

        @include when(disabled) {
            background-color: scale-color(
                $color-element-background,
                $lightness: 88%
            );
            color: scale-color($color-element-text, $lightness: 70%);
        }

        @include when(loading) {
            background-color: scale-color(
                $color-element-background,
                $lightness: 80%
            );
            color: scale-color($color-element-text, $lightness: 50%);
        }
    }

    @include when(text) {
        background-color: transparent;
        color: $color-element-text;

        &:hover {
            background-color: transparent;
            color: scale-color($color-element-text, $lightness: 25%);
        }

        @include when(disabled) {
            color: scale-color($color-element-text, $lightness: 70%);
        }

        @include when(loading) {
            color: scale-color($color-element-text, $lightness: 50%);
        }
    }

    @each $color, $value in $colors {
        @include m(#{$color}) {
            background-color: $value;
            color: $color-white;

            &:hover {
                background-color: scale-color($value, $lightness: -5%);
                color: $color-white;
            }

            @include when(disabled) {
                background-color: scale-color($value, $lightness: 70%);
                color: $color-white;
            }

            @include when(link) {
                color: $color-white;
            }

            @include when(loading) {
                background-color: scale-color($value, $lightness: 50%);
                color: $color-white;
            }

            @include when(light) {
                background-color: scale-color($value, $lightness: 95%);
                color: $value;

                &:hover {
                    background-color: scale-color($value, $lightness: 85%);
                }

                @include when(disabled) {
                    background-color: scale-color($value, $lightness: 98%);
                    color: scale-color($value, $lightness: 70%);
                }

                @include when(loading) {
                    background-color: scale-color($value, $lightness: 96%);
                    color: scale-color($value, $lightness: 50%);
                }
            }

            @include when(text) {
                background-color: transparent;
                color: $value;

                &:hover {
                    background-color: transparent;
                    color: scale-color($value, $lightness: 25%);
                }

                @include when(disabled) {
                    background-color: transparent;
                    color: scale-color($value, $lightness: 70%);
                }

                @include when(loading) {
                    color: scale-color($value, $lightness: 50%);
                }
            }
        }
    }

    @include when(round) {
        border-radius: 2rem;
    }

    @include when(circle) {
        border-radius: 50%;
        padding: 0.75rem;
    }

    @include e(content) {
        align-items: center;
        display: inline-flex;
        justify-content: center;
    }

    @include e(icon) {
        // display: inline-flex;
        // align-items: center;
        // justify-content: center;
        font-size: inherit;

        &:first-child:nth-last-child(1) {
            margin: 0;
        }

        i {
            color: inherit;
            display: inline-block;
            font-size: inherit;
        }

        @include m(left) {
            color: inherit;
            margin-right: rem(4);
        }

        @include m(right) {
            color: inherit;
            margin-left: rem(4);
            order: 1;
        }
    }

    @include when(loading) {
        @include e(icon) {
            i {
                animation: loading 1.5s linear infinite;

                svg {
                    height: $font-size-base;
                    width: $font-size-base;
                }
            }
        }
    }

    @each $size, $value in $sizes {
        @include m(#{$size}) {
            font-size: $font-size-base * $value;
            padding: 0.75rem * $value 1.25rem * $value;

            @include when(circle) {
                padding: 0.75rem * $value;
            }

            @include when(loading) {
                @include e(icon) {
                    i {
                        svg {
                            height: $font-size-base * $value;
                            width: $font-size-base * $value;
                        }
                    }
                }
            }
        }
    }
}
