@include b(checkbox-group) {
    @include e(items) {
        display: inline-flex;
        flex-wrap: wrap;
    }

    @include e(label-text) {
        font-size: rem(13);
        color: $color-text-lighter;
        margin-bottom: rem(4);
    }

    @include e(feedback-text) {
        font-size: rem(12);
        color: $color-text-light;
        margin-top: rem(4);
    }

    @include e(checkbox) {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }

    @include when(invalid) {
        @include e(feedback-text) {
            color: $color-danger !important;
        }
    }

    @include when(vertical) {
        @include e(items) {
            flex-direction: column;
        }

        @include e(checkbox) {
            margin-right: 0;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }
    }

    @include m(box-position-right) {
        @include when(vertical) {
            @include e(checkbox) {
                justify-content: space-between;
            }
        }
    }
}
