@include b(checkbox) {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    margin: 0;
    &:hover {
        @include e(checkmark) {
            border-color: scale-color($color-border, $lightness: -15%);
        }
        @include when(checked) {
            @include e(checkmark) {
                background-color: scale-color($color-primary, $lightness: -5%);
                border-color: scale-color($color-primary, $lightness: -5%);
            }
        }
    }
    @include when(disabled) {
        color: scale-color($color-element-text, $lightness: 75%);
        cursor: not-allowed !important;
        @include e(checkmark) {
            border-color: scale-color($color-border, $lightness: 50%);
            cursor: not-allowed !important;
        }
        @include when(checked) {
            @include e(checkmark) {
                background-color: scale-color($color-primary, $lightness: 75%);
                border-color: scale-color($color-primary, $lightness: 75%);
            }
        }
    }

    @include e(checkmark) {
        align-items: center;
        border: 1px solid $color-border;
        border-radius: 2px;
        display: inline-flex;
        height: 1rem;
        justify-content: center;
        min-height: 1rem;
        min-width: 1rem;
        padding: 2px;
        position: relative;
        width: 1rem;
        input {
            height: 1rem;
            left: 0;
            margin: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 1rem;
            z-index: -1;
        }
        &:after {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23FFFFFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            content: '';
            height: 100%;
            transform: scale(0);
            transform-origin: center;
            transition: transform 0.1s ease-in;
            width: 100%;
        }
    }

    @include e(text) {
        display: inline-flex;
        font-size: 1rem;
        padding-left: 0.5rem;
    }

    @include when(checked) {
        @include e(checkmark) {
            background-color: $color-primary;
            border-color: $color-primary;
            &:after {
                transform: scale(1);
            }
        }
    }

    @include m(box-position-right) {
        flex-direction: row-reverse;
        @include e(checkmark) {
            // order: 1;
        }
        @include e(text) {
            padding-left: 0;
            padding-right: 0.5rem;
        }
    }

    @each $color, $value in $colors {
        @include m(#{$color}) {
            &:hover {
                @include e(checkmark) {
                    border-color: scale-color($value, $lightness: -15%);
                }
                @include when(checked) {
                    @include e(checkmark) {
                        background-color: scale-color($value, $lightness: -5%);
                        border-color: scale-color($value, $lightness: -5%);
                    }
                }
            }
            @include e(checkmark) {
                border-color: $value;
            }
            @include when(checked) {
                @include e(checkmark) {
                    background-color: $value;
                    border-color: $value;
                }
            }
            @include when(disabled) {
                @include e(checkmark) {
                    border-color: scale-color($value, $lightness: 50%);
                }
                @include when(checked) {
                    @include e(checkmark) {
                        background-color: scale-color($value, $lightness: 75%);
                        border-color: scale-color($value, $lightness: 75%);
                    }
                }
            }
        }
    }
}
