[class^='aq-'] {
    box-sizing: border-box;
    line-height: initial;
    font: 1rem 'Arial', sans-serif;
    font-size: inherit;
}

.feather {
    fill: none;
    font-size: 1em;
    height: 1em;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    width: 1em;
}

@import 'Button';
@import 'ButtonGroup';
@import 'RippleInk';
@import 'Link';
@import 'Checkbox';
@import 'CheckboxGroup';
@import 'Radio';
@import 'RadioGroup';
@import 'TextBox';
@import 'Icon';
