@include b(link) {
    align-items: center;
    color: $color-element-text;
    display: inline-flex;
    font-size: 1rem;
    position: relative;
    text-decoration: none;
    &:after {
        border-bottom: 1px solid $color-primary;
        bottom: -2px;
        content: '';
        display: none;
        height: 0;
        left: 0;
        position: absolute;
        right: 0;
    }
    &:hover {
        color: $color-primary;
        text-decoration: none;
    }

    @include when(disabled) {
        color: scale-color(
            $color-element-text,
            $lightness: 70%,
            $saturation: -80%
        );
        cursor: not-allowed !important;
        &:hover {
            text-decoration: none;
            &:after {
                display: none;
            }
        }
        @include when(underline) {
            &:hover {
                &:after {
                    display: none;
                }
            }
        }
    }

    @include when(underline) {
        &:hover {
            &:after {
                display: block;
            }
        }
    }

    @each $color, $value in $colors {
        @include m(#{$color}) {
            color: $value;
            &:hover {
                color: $value;
                &:after {
                    border-color: $value;
                }
            }
        }
    }

    @each $size, $value in $sizes {
        @include m(#{$size}) {
            font-size: 1rem * $value;
        }
    }

    @include e(content) {
        align-items: center;
        display: inline-flex;
        justify-content: center;
    }

    @include e(icon) {
        align-items: center;
        display: inline-flex;
        font-size: inherit;
        justify-content: center;
        line-height: 1;
        &:first-child:nth-last-child(1) {
            margin: 0;
        }
        i {
            color: inherit;
            font-size: inherit;
        }
        @include m(left) {
            color: inherit;
            margin-right: rem(2);
        }
        @include m(right) {
            color: inherit;
            margin-left: rem(2);
            order: 1;
        }
    }
}
