@include b(radio-group) {
    @include e(items) {
        display: inline-flex;
        flex-wrap: wrap;
    }

    @include e(label-text) {
        color: $color-text-lighter;
        font-size: 0.875rem;
        margin-bottom: 0.25rem;
    }

    @include e(feedback-text) {
        color: $color-text-light;
        font-size: 0.75rem;
        margin-top: 0.25rem;
    }

    @include e(radio) {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }

    @include when(invalid) {
        @include e(feedback-text) {
            color: $color-danger !important;
        }
    }

    @include when(vertical) {
        @include e(items) {
            flex-direction: column;
        }

        @include e(radio) {
            margin-right: 0;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }
    }

    @include m(circle-position-right) {
        @include when(vertical) {
            @include e(checkbox) {
                justify-content: space-between;
            }
        }
    }
}
