// Typography
$font-size: 16;

// iconSet
@import url('//at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.css');

// Colors
$color-white: #ffffff;
$color-black: #232323;
$color-grey: #f9f9f9;

$color-primary: #6190e8;
$color-primary-light: scale-color($color-primary, $lightness: 5%);
$color-primary-dark: scale-color($color-primary, $lightness: -5%);

$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;

$color-separator: scale-color(
    $color-primary,
    $lightness: 70%,
    $saturation: -100%
);

$color-primary-title: #444444;

$color-label: #c2c2c2;
$color-label-light: scale-color($color-label, $lightness: 25%);
$color-label-dark: scale-color($color-label, $lightness: -25%);

$color-placeholder: $color-label-light;

$color-element-text: $color-black;
$color-element-background: #eeeeee;

// $color-border: #c2c2c2;
$color-border: scale-color($color-label, $lightness: 25%);
$color-border-hover: scale-color($color-border, $lightness: -15%);

$color-primary-gradient: linear-gradient(
    90deg,
    $color-primary-light 0%,
    $color-primary-dark 100%
);

$colors: (
    primary: $color-primary,
    success: $color-success,
    error: $color-danger,
    warning: $color-warning,
    info: $color-info,
);

$element-border-radius: 0.25rem;

// Sizes
$sizes: (
    xs: 0.75,
    sm: 0.875,
    md: 1,
    lg: 1.125,
);

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
