// Typography
$font-size: 16;

// iconSet
@import url('//at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.css');

// Colors
$color-white: #ffffff;
$color-black: #232323;
$color-grey: #f9f9f9;

$color-primary: #6190e8;
$color-primary-light: scale-color($color-primary, $lightness: 5%);
$color-primary-dark: scale-color($color-primary, $lightness: -5%);

$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;

$color-separator: scale-color(
    $color-primary,
    $lightness: 70%,
    $saturation: -80%
);

$color-primary-title: #444444;
$color-text: scale-color($color-primary, $lightness: -40%, $saturation: -80%);
$color-text-darker: scale-color(
    $color-primary,
    $lightness: -60%,
    $saturation: -80%
);
$color-text-dark: scale-color(
    $color-primary,
    $lightness: -80%,
    $saturation: -80%
);
$color-text-lighter: scale-color(
    $color-primary,
    $lightness: -10%,
    $saturation: -80%
);
$color-text-light: scale-color(
    $color-primary,
    $lightness: 30%,
    $saturation: -80%
);

$color-element-text: $color-text;
$color-element-background: #eeeeee;

$color-border: scale-color($color-primary, $lightness: 50%, $saturation: -80%);
$color-border-light: scale-color(
    $color-primary,
    $lightness: -40%,
    $saturation: -80%
);

$color-primary-gradient: linear-gradient(
    90deg,
    $color-primary-light 0%,
    $color-primary-dark 100%
);

$colors: (
    primary: $color-primary,
    success: $color-success,
    error: $color-danger,
    warning: $color-warning,
    info: $color-info,
);

// Sizes
$sizes: (
    xs: 0.75,
    sm: 0.875,
    md: 1,
    lg: 1.125,
);

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
