%gutter {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.gutter {
    & > * {
        margin-left: 0;
        margin-top: 0;
    }
    @extend %gutter;
    @each $size, $value in $gutter {
        &-x-#{$size} {
            margin-left: -#{$value};
            & > * {
                margin-left: #{$value};
            }
            @extend %gutter;
        }
        &-y-#{$size} {
            margin-top: -#{$value};
            & > * {
                margin-top: #{$value};
            }
            @extend %gutter;
        }
        &-#{$size} {
            margin-left: -#{$value};
            margin-top: -#{$value};
            & > * {
                margin-left: #{$value};
                margin-top: #{$value};
            }
            @extend %gutter;
        }
    }
}

// @each $space, $value in $spaces {
// 	.pa-#{$space} {
// 	    padding: map-get($value,y) map-get($value,x);
// 	}
// 	.pl-#{$space} {
// 		padding-left: map-get($value,x);
// 	}
// 	.pr-#{$space} {
// 		padding-right: map-get($value,x);
// 	}
// 	.pt-#{$space} {
// 		padding-top: map-get($value,y);
// 	}
// 	.pb-#{$space} {
// 		padding-bottom: map-get($value,y);
// 	}
// 	.px-#{$space} {
// 		padding-left: map-get($value,x);
// 		padding-right: map-get($value,x);
// 	}
// 	.py-#{$space} {
// 		padding-top: map-get($value,y);
// 		padding-bottom: map-get($value,y);
// 	}

// 	.ma-#{$space} {
// 	    margin: map-get($value,y) map-get($value,x);
// 	}
// 	.ml-#{$space} {
// 		margin-left: map-get($value,x);
// 	}
// 	.mr-#{$space} {
// 		margin-right: map-get($value,x);
// 	}
// 	.mt-#{$space} {
// 		margin-top: map-get($value,y);
// 	}
// 	.mb-#{$space} {
// 		margin-bottom: map-get($value,y);
// 	}
// 	.mx-#{$space} {
// 		margin-left: map-get($value,x);
// 		margin-right: map-get($value,x);
// 	}
// 	.my-#{$space} {
// 		margin-top: map-get($value,y);
// 		margin-bottom: map-get($value,y);
// 	}
// }

// .ml-auto {
//   margin-left: auto;
// }
// .mr-auto {
//   margin-right: auto;
// }
// .mx-auto {
//   @extend .ml-auto;
//   @extend .mr-auto;
// }
