html {
    font-size: 14px;
    // @media (max-width: 425px) {
    //     font-size: 15px;
    // }
    // @media (max-width: 375px) {
    //     font-size: 14px;
    // }
}

body {
    background-color: $color-grey;
    color: $color-text-dark;
    font-family: $font-family;
    font-size: 1rem;
    height: 100%;
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: $color-primary-title;
    font-weight: 400;
}

h1 {
    font-size: 1.75rem;

    @include respond-below(sm) {
        font-size: 1.3rem;
        padding-top: 0.5rem;
    }
}

h2 {
    font-size: 1.4rem;

    @include respond-below(sm) {
        font-size: 1.1rem;
    }
}

h3 {
    font-size: 1.2rem;

    @include respond-below(sm) {
        font-size: 1rem;
    }
}

h4 {
    font-size: 1.15rem;

    @include respond-below(sm) {
        font-size: 0.9rem;
    }
}

h5 {
    font-size: 1.1rem;

    @include respond-below(sm) {
        font-size: 0.9rem;
    }
}

h6 {
    font-size: 1rem;

    @include respond-below(sm) {
        font-size: 0.85rem;
    }
}

#app {
    font-weight: 400;
    height: 100%;
    // max-width: rem(1140);
    margin: 0 auto;
    width: 100%;
    // background-color: $color-grey;
}

.header {
    align-items: center;
    backdrop-filter: saturate(180%) blur(#{rem(4)});
    background: scale-color($color-primary, $lightness: -20%, $alpha: -20%);
    box-shadow: $shadow-header;
    display: flex;
    height: rem(56);
    justify-content: space-between;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.aside {
    // margin-top: rem(56);
    background-color: $color-white;
    box-shadow: $shadow-sidebar;
    height: calc(100vh - #{rem(56)});
    left: 0;
    position: fixed;
    top: rem(56);
    transition: transform 0.3s ease-in-out;
    width: rem(264);
    .menu {
        height: 100%;
        overflow-y: auto;
        // padding: 1rem 0rem;
        &__item {
            align-items: center;
            color: $color-text;
            display: flex;
            height: auto;
            padding: rem(8) 0;
            padding: 1rem 2rem;
            text-decoration: none;
            width: 100%;
            &:hover {
                background-color: rgba($color-primary, 0.025);
                color: $color-primary;
            }
            &.is-active {
                background-color: rgba($color-primary, 0.05);
                color: $color-primary;
            }
        }
    }
}

.content {
    margin: rem(32);
    margin-left: calc(#{rem(264)} + #{rem(32)});
    margin-top: calc(#{rem(56)} + #{rem(24)});
    &__block {
        background-color: $color-white;
        border-radius: 4px;
        box-shadow: $shadow-block;
        margin-bottom: 1rem;
        padding: 1.75rem;
    }
}

.page-title {
    align-items: center;
    color: $color-primary-title;
    display: inline-flex;
    height: 100%;
    width: auto;
}

.separator {
    border-bottom: 1px solid $color-separator;
}

.logo {
    align-items: center;
    display: inline-flex;
    height: 100%;
    padding: 0 2rem;
    width: auto;
    width: rem(264);
    &__text {
        color: $color-white !important;
        font-size: rem(18);
        text-decoration: none !important;
        text-transform: uppercase;
    }

    &__menu-btn {
        align-items: center;
        border-radius: 50%;
        border-radius: 50%;
        display: none;
        height: auto;
        height: 2.25rem;
        justify-content: center;
        margin-left: 0.5rem;
        position: relative;
        width: 2.25rem;
        z-index: 1;
        %lines {
            background-color: $color-white;
            display: block;
            height: 2px;
            pointer-events: none;
            position: absolute;
            transform-origin: center;
            transition: rotate 0.2s;
            transition: transform 0.2s;
            width: 1.25rem;
        }
        span {
            &:before,
            &:after {
                content: '';
                position: absolute;
                @extend %lines;
            }
            &:before {
                transform: translateY(-0.35rem);
            }
            &:after {
                transform: translateY(0.35rem);
            }
            @extend %lines;
        }
        &.is-active {
            background-color: rgba($color-white, 0.1);
            span {
                height: 0;
                margin-top: -1px;
                &:before {
                    transform: rotate(-45deg) translateY(0);
                }
                &:after {
                    transform: rotate(45deg) translateY(0);
                }
            }
        }
    }
}

.login {
    align-items: center;
    background-color: scale-color(
        $color-primary,
        $lightness: -20%,
        $alpha: -60%
    );
    color: $color-white;
    cursor: pointer;
    display: inline-flex;
    height: 100%;
    padding: 0 1.5rem;
    width: auto;
    &:hover {
        background-color: scale-color(
            $color-primary,
            $lightness: 20%,
            $alpha: -60%
        );
    }
    &__link {
        align-items: center;
        color: currentColor;
        display: inline-flex;
        height: 100%;
        text-decoration: none;
        text-transform: uppercase;
    }
    &__icon {
        color: currentColor;
        font-size: rem(24);
        margin-right: rem(8);
    }
}
